* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1c1c1c;
  background: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: white;
}

.logo {
  font-family: 'Playfair Display', serif;
  color: #d4af37;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* HERO */
.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 1s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.hero-content {
  position: relative;
  text-align: center;
  color: white;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #d4af37;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 30px;
}

/* SECTIONS */
.section {
  padding: 80px 8%;
  text-align: center;
}

.section h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
}

.light {
  background: #f9f9f9;
}

/* CATEGORIES */
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}

.category-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
}

.category-card h3 {
  margin-top: 15px;
}

/* PRODUCTS */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}

.product img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
}

footer {
  padding: 30px;
  text-align: center;
  background: #111;
  color: #fff;
}
